{% extends 'base.html.twig' %}

{% block title %}Login | Shelper.{% endblock %}
{% block stylesheets %}
    <style>
        body {
            height: 100%;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 h-100">
            <div class="row h-100 d-flex align-items-center">
                <div class="mask-custom offset-lg-4 offset-md-3 offset-sm-3 col-lg-4 col-md-6 col-sm-6 col-12 rounded-4 py-4 px-5">
                    <h1 class="text-center mt-2">Connexion</h1>
                    <hr>
                    <form method="post" action="{{ path('app_login') }}">
                        <div class="mt-4 form-outline form-white">
                            <i class="fas fa-at trailing"></i>
                            <input required type="email" name="_username" class="form-control" placeholder="john.doe@gmail.com" id="emailField" aria-describedby="emailHelp" value="{{ last_username }}">
                            <label for="exampleInputEmail1" class="form-label">Adresse email</label>
                        </div>

                        <div class="mt-4 form-outline form-white">
                            <input required type="password" name="_password" class="form-control {{ (error is not null) ? 'is-invalid' : '' }}" placeholder="Mot de passe" id="passwordField">
                            <label for="passwordField" class="form-label">Mot de passe</label>
                            {% if error %}
                                <div class="invalid-feedback">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button type="submit" class="btn btn-sm btn-outline-info float-end mt-4" data-mdb-ripple-color="light">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
