{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container mt-3" id="dashboard">
    <div class="modal fade" id="modalAddUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel" disabled>Ajouter un paiement</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col">
                        <label for="firstname" class="form-label">Prénom</label>
                        <input type="text" class="form-control form-control-sm" id="firstname" placeholder="Prénom" v-model="paymentToAdd.firstname">
                    </div>
                    <div class="col">
                        <label for="lastname" class="form-label">Nom</label>
                        <input type="text" class="form-control form-control-sm" id="lastname" placeholder="Nom" v-model="paymentToAdd.lastname">
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-sm btn-success" @click="addPayment" data-bs-dismiss="modal">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <h1>Bonjour, <span class="text-info">{{ user.firstname }}</span>.</h1>
          {% if current_balance < 0 %}
                <p>Il y a actuellement <span class="text-danger fw-bold">{{ current_balance|abs }}€</span> de moins que prévu dans la caisse.</p>
          {% elseif current_balance > 0 %}
                <p>Il y a actuellement <span class="text-warning fw-bold">{{ current_balance|abs }}€</span> de plus que prévu dans la caisse.</p>
          {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h2>Historique des paiements</h2>
            {% if is_granted('ROLE_ADMIN') %}
                <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#modalAddUser"><i class="fas fa-user-plus text-success"></i></button>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-striped table-sm table-hover align-middle">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">Patient</th>
                        <th class="text-center" scope="col">Date</th>
                        <th class="text-center" scope="col">Séance</th>
                        <th class="text-center" scope="col">Encaissé</th>
                        <th class="text-center" scope="col">Solde</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(p, index) in payments">
                        <th class="text-center" scope="row">${ index +1 }</th>
                        <td class="text-center">${ p.patient.firstname } ${ p.patient.lastname }</td>
                        <td class="text-center">${ p.date }</td>
                        <td class="text-center">${ p.intervention.name } <small>(${ p.intervention.amount }€)</small></td>
                        <td class="text-center">${ p.amount }€</td>
                        <td class="text-center">${ p.difference }€</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <button class="btn btn-sm border-0" disabled><i class="fas fa-pen text-secondary"></i></button>
                                <button class="btn btn-sm border-0" disabled><i class="fas fa-trash text-secondary"></i></button>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

    <script>
        const { createApp } = Vue;

        createApp({
            delimiters: ['${', '}'],
            data() {
              return {
                payments: JSON.parse('{{ payments|raw }}'),
                paymentToAdd: {
                  firstname: '',
                  lastname: '',
                },
              }
            },
            methods: {
              addPayment() {
                const scope = this;
                axios.post("{{ url('payment_add') }}", this.paymentToAdd, {
                  headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                  }
                })
                  .then((response) => {
                    scope.payments.push(response.data);
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              }
            },
        }).mount('#dashboard')
    </script>
{% endblock %}
