{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container mt-3" id="dashboard">
    <div class="modal fade" id="modalAddUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajouter un utilisateur</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col">
                        <label for="firstname" class="form-label">Prénom</label>
                        <input type="text" class="form-control form-control-sm" id="firstname" placeholder="Prénom" v-model="userToAdd.firstname">
                    </div>
                    <div class="col">
                        <label for="area" class="form-label">Lieu</label>
                        <input type="text" class="form-control form-control-sm" id="area" placeholder="Lieu" v-model="userToAdd.area">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="email" class="form-label">Mail</label>
                        <input type="text" class="form-control form-control-sm" id="email" placeholder="john.doe@gmail.com" v-model="userToAdd.email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control form-control-sm" id="password" placeholder="Mot de passe" v-model="userToAdd.password">
                    </div>
                    <div class="col">
                        <label for="selectRole">Role</label>
                        <select class="form-select form-select-sm mt-2" id="selectRole" v-model="userToAdd.meh">
                          <option value="">Type d'utilisateur</option>
                          <option value="ROLE_USER">Utilisateur</option>
                          <option value="ROLE_ADMIN">Administrateur</option>
                        </select>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-sm btn-success" @click="addUser" data-bs-dismiss="modal">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalUpdateUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier ${ userToUpdate.firstname }</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col">
                        <label for="updated-firstname" class="form-label">Prénom</label>
                        <input type="text" class="form-control form-control-sm" id="updated-firstname" placeholder="Prénom" v-model="userToUpdate.firstname">
                    </div>
                    <div class="col">
                        <label for="updated-area" class="form-label">Lieu</label>
                        <input type="text" class="form-control form-control-sm" id="updated-area" placeholder="Lieu" v-model="userToUpdate.area">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="updated-email" class="form-label">Mail</label>
                        <input type="text" class="form-control form-control-sm" id="updated-email" placeholder="john.doe@gmail.com" v-model="userToUpdate.email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="updated-password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control form-control-sm" id="updated-password" placeholder="Mot de passe" v-model="userToUpdate.password">
                    </div>
                    <div class="col">
                        <label for="updated-selectRole">Role</label>
                        <select class="form-select form-select-sm" id="updated-selectRole" v-model="userToUpdate.meh">
                          <option value="">Type d'utilisateur</option>
                          <option value="ROLE_USER">Utilisateur</option>
                          <option value="ROLE_ADMIN">Administrateur</option>
                        </select>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-sm btn-warning">Modifier</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalBillingPeriod" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Période de facturation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="row" v-show="billingPeriodSelected.id === null">
                    <div class="col text-center">
                        <div class="alert alert-info text-center">
                            Démarrer une nouvelle période de facturation à compter d'aujourdhui ?<br>
                            <small class="fw-bold">{{ 'now'|date('d/m/Y') }}</small>
                        </div>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-lg btn-danger" data-bs-dismiss="modal">NON</button>
                            <button class="btn btn-lg btn-success" @click="startNewBillingPeriod()">OUI</button>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="billingPeriodSelected.id !== null">
                    <div class="col text-center">
                        <div class="alert alert-info text-center">
                            Période de facturation :
                            <small class="fw-bold">${ billingPeriodSelected.startDate } - {{ 'now'|date('d/m/Y') }}</small>
                            <br>
                            <b>Nombre de patients encaissés :</b> ${ billingPeriodSelected.numberOfPayments }<br>
                            <b>Montant total encaissé :</b> ${ billingPeriodSelected.balance }€<br>
                        </div>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-danger" @click="startNewBillingPeriod(false)">Interrompre</button>
                            <button class="btn btn-success" @click="startNewBillingPeriod()">Nouvelle période</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <h1>Bonjour, <span class="text-info">{{ user.firstname }}</span>.</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h2>Comptes utilisateurs</h2>
            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#modalAddUser"><i class="fas fa-user-plus text-success"></i></button>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-hover align-middle">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">Prénom</th>
                        <th class="text-center" scope="col">Email</th>
                        <th class="text-center" scope="col">Roles</th>
                        <th class="text-center" scope="col">Zone</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(u, index) in users">
                        <th class="text-center" scope="row">${ index +1 }</th>
                        <td class="text-center">${ u.firstname }</td>
                        <td class="text-center">${ u.email }</td>
                        <td class="text-center">
                            <span v-for="r in u.roles">
                                <i class="fas" :class="[r === 'ROLE_ADMIN' ? 'fa-dragon' : 'fa-user']" :title="r === 'ROLE_ADMIN' ? 'Administrateur' : 'Utilisateur'"></i>&nbsp;
                            </span>
                        </td>
                        <td class="text-center">${ u.area }</td>
                        <td>
                            <button class="btn btn-sm" @click="selectBillingPeriod(u)" data-bs-toggle="modal" data-bs-target="#modalBillingPeriod"><i class="fas fa-clock"></i></button>
                            <button class="btn btn-sm" @click="changeUserToUpdate(u)" data-bs-toggle="modal" data-bs-target="#modalUpdateUser"><i class="fas fa-pen text-warning"></i></button>
                            <button class="btn btn-sm"><i class="fas fa-trash text-danger"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

    <script>
        const { createApp } = Vue;

        createApp({
            delimiters: ['${', '}'],
            data() {
              return {
                users: JSON.parse('{{ users|raw }}'),
                userToAdd: {
                  firstname: '',
                  email: '',
                  password: '',
                  area: '',
                  roles: [],
                  meh: ''
                },
                userToUpdate: {
                  roles: [],
                  meh: ''
                },
                billingPeriodSelected: {},
                idUserBillingPeriodSelected: null,
              }
            },
            methods: {
              changeUserToUpdate(user) {
                this.userToUpdate = JSON.parse(JSON.stringify(user));
                this.userToUpdate.meh = this.userToUpdate.roles[0];
              },
              addUser() {
                const scope = this;
                axios.post("{{ url('user_add') }}", this.userToAdd, {
                  headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                  }
                })
                  .then((response) => {
                    scope.users.push(response.data);
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              },
              selectBillingPeriod(user) {
                this.billingPeriodSelected = user.billingPeriod;
                this.idUserBillingPeriodSelected = user.id;
              },
              startNewBillingPeriod(shouldCreateNewBillingPeriod = true) {
                const scope = this;
                axios.post("{{ url('billing_period_start') }}", { userId: scope.idUserBillingPeriodSelected, id: scope.billingPeriodSelected.id ?? null, shouldCreateNewBillingPeriod }, {
                  headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                  }
                })
                  .then((response) => {
                    const user = scope.users.filter(u => u.id === scope.idUserBillingPeriodSelected);
                    user[0].billingPeriod = response.data;
                    scope.billingPeriodSelected = response.data;
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              }
            },
            watch: {
              'userToUpdate.meh'() {
                this.userToUpdate.roles[0] = this.userToUpdate.meh;
              },
              'userToAdd.meh'() {
                this.userToAdd.roles[0] = this.userToAdd.meh;
              }
            }
        }).mount('#dashboard')
    </script>
{% endblock %}
